body
{
    background: #FF7373;
    background: linear-gradient(to right, #FF7373,#FFB273,#5CCCCC, #67E667);
}

table
{
    background: white;
    opacity: 0.95;
    border-spacing: 2px; /* Расстояние между ячейками */
    width: 80%; /* Ширина таблицы */
    margin: auto; /* Выравниваем по центру */
    border-collapse: collapse
}

