<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>createForm</title>
    <link th:href="@{/style/styleCreateForm.css}" rel="stylesheet"/>
</head>
<body>
<form action="#" th:action="@{/post/create}" th:object="${postDto}" method="POST">
    <table>
        <tr>
            <th>Login:</th>
            <th style="float:left"><input type="text" style="width: 150px; height: 25px;" th:field="*{userLogin}"/></th>
        </tr>
        <tr>
            <th>Content:</th>
            <th style="float:left"><input type="text" style="text-align: center; width: 1000px; height: 25px;"
                                          th:field="*{contentData}"/></th>
        </tr>
        <tr>
            <th></th>
            <th style="float:right"><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></th>
        </tr>
    </table>
</form>
</body>
</html>