<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <link th:href="@{/style/style.css}" rel="stylesheet"/>
</head>
<body>
<table border="1">
    <tr>
        <th style="width: 30px">ID</th>
        <th style="width: 150px">Update time</th>
        <th style="width: 150px">Login</th>
        <th>Content</th>
        <th>Like</th>
        <th style="width: 15px"></th>
    </tr>
    <tr th:each="post : ${posts}">
        <td style="text-align: center" th:text="${post.id}"></td>
        <td style="text-align: center" th:text="${post.updateDate}"></td>
        <td th:text="${post.userLogin}"></td>
        <td th:text="${post.contentData}"></td>
        <td style="text-align: center" th:text="${post.approvalReaction}"></td>
        <td>
            <form method="POST" th:object="${post}" th:action="@{/posts/like}">
                <input type="hidden" name="id" th:value="${post.id}"/>
                <button style="color:#A60000; border-color:#A60000" type="submit">♥</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>