<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
    <link th:href="@{/style/styleCreateForm.css}" rel="stylesheet"/>
</head>
<body>
<table>
    <tr style="height: 100px"></tr>
    <tr style="height: 100px">
        <td>
            <form action="/posts" method="get">
                <input style="border-radius: 50%; text-align: center; padding: 50px; border: none;" type="submit"
                       value="All posts">
            </form>
        </td>
    </tr>
    <tr style="height: 100px">
        <td></td>
        <td></td>
        <td></td>
        <td>
            <form action="/post/create-form" method="get">
                <input style="border-radius: 50%; text-align: center; padding: 50px; border: none;" type="submit"
                       value="Create post">
            </form>
        </td>
    </tr>
    <tr style="height: 100px">
        <td></td>
        <td></td>
        <td>
            <form action="/post/{id}" method="get">
                <input type="number" id="id" name="id">
                <input type="submit" value="Find post by ID">
            </form>
        </td>
    </tr>
    <tr style="height: 200px">
        <td></td>
        <td>
            <form action="/posts/search" method="get">
                <input type="text" id="content" name="content">
                <input type="submit" value="Find content">
            </form>
        </td>
    </tr>
</table>
</body>
</html>